{% extends '_base.html' %}

{% load static %}

{% block title %}NeonNetwork Settings{% endblock %}

{% block css %}

<!-- Initialise CSS here -->
<link rel="stylesheet" href='{% static "css/settings.css" %}' crossorigin="anonymous">
<link rel="stylesheet" href='{% static "css/base.css" %}' crossorigin="anonymous">

{% endblock %}

{% block content %}

<div class="mainusers">
  <center><p></p><p class="mainfont"><u>Settings</u><p></center>
    <div class="settingstext">
      <center><br></br>Red</center>



      <center><p></p>Green</center>



      <center><p></p>Blue</center>



    </div>

</div>



{% endblock %}

<!-- Do not place Anything here, will break compiler -->
