{% load static %}

{% block title %}<title>NeonNet - Terms of Service </title>{% endblock %}

{% block css %}

<link rel="stylesheet" href='{% static "css/base.css" %}' crossorigin="anonymous">
<link rel="stylesheet" href='{% static "css/font.css" %}' crossorigin="anonymous">

{% endblock %}

{% block content %}


<head>
  <br></br>
  <a href="../"><img style="display: block; height: 100px; width: auto; margin-left: auto; margin-right: auto;" src='{% static "favicon/android-chrome-256x256.png" %}'></a>
  <br></br>
</head>

<body>
<div style="position: absolute; left: 0; display:inline-block; width: 100%; line-height: 25px; background-color: #fff; color: #555; font-family: MetroRegular, Arial; border-top: 5px solid #555;">
  <div style="width: 95%; line-height: 25px; background-color: #fff; color: #555; font-family: MetroRegular, Arial; margin: 0 auto;">
    <br></br>
    <h2>NeonNet TERMS OF SERVICE</h2>

    <p style="color: #9099a4;">By using the NeonNetwork service you are agreeing to these Terms and conditions.</p>

    <h2>INTRODUCITON AND ACCEPTING THE TERMS</h2>

    <p style="color: #9099a4;">Hey there! Welcome to NeonNet. These Terms of Service ("Terms"), which include and incorperate the Privacy Policy at <a style="color: #06a4d5" href="http://192.168.0.1/privacy" target="_blank" rel="noreferrer">http://192.168.0.1/privacy</a>
  ("Privacy Policy"), are a legal agreement between NeonNetwork ("NeonNet") and its related companies (the “Company,” “us,” “our,” or "we") and you ("you" or “your”).  By using or accessing the NeonNetwork Website (the "Site"),
   which are refered to as the "Service," you agree (i) that you are 13 years of age or older, (ii) if you are the age of majority in your jurisdiction or over, that you have read, understood, and accept to be bound by the Terms,
   and (iii) if you are between 13 and the age of majority in your jurisdiction, that your legal guardian has reviewed and agrees to these Terms. <br></br> The Company reserves the right to update these Terms, which we may do for reasons that include, but are not limited to, complying with changes to the law or reflecting enhancements to NeonNet. If the changes affect your usage of NeonNet or your legal rights, we’ll notify you no less than seven days before the changes take effect. Unless we state otherwise, your continued use of the Service after we post modifications will constitute your acceptance of and agreement to those changes. If you object to the changes, your recourse shall be to cease using the Service.</p>

    <h2>RIGHTS TO USE THE SERVICE</h2>
    <p style="color: #9099a4;">The Company reserves the right to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.
        The Company reserves the right to refuse any user access to the Services without notice for any reason, including but not limited to a violation of the Terms. If you violate these Terms,
        the Company reserves the right to issue you a warning regarding the violation or immediately terminate or suspend any or all Accounts you have created using the Service.
        You agree that the Company need not provide you notice before terminating or suspending your Account(s), but it may do so.</p>

    <h2>YOUR ACCOUNT</h2>
    <p style="color: #9099a4;">You are responsible for your log-in credentials and for any activity resulting from the use of your log-in credentials or other activity on your account (“Account”) on the Service.
      Upon launching the Service, if you do not already have an Account, you will be prompted to create one by providing a username and in some cases a password.
      You represent and warrant that the information you provide to us upon registration and at all other times will be true, accurate, current, and complete.
      We reserve the right to reject any username or to terminate your username or prevent use of a username in our sole discretion, and without any liability to you.
      You are responsible for maintaining the confidentiality of your log-in credentials and are fully responsible for all activities that occur through the use of your credentials or otherwise on your
      Account. You agree to notify us immediately if you believe the confidentiality of your log-in credentials has been compromised or if you suspect unauthorized use of your Account.
      You agree that we will not be liable for any loss or damage arising from unauthorized use of your credentials.</p>
      <h2>COMMUNICATIONS</h2>
      <p style="color: #9099a4;">You agree to receive communications from us electronically, such as email, text, or mobile push notices, or notices and messages on the Service.
        For any direct marketing messages, we will ensure that we obtain your consent first, and also make it easy for you to opt out — we don’t want to send you messages you don’t want.
      </p>
      <p style="color: #9099a4;">By using the Service or providing information to us, you agree that we may communicate with you electronically regarding security, privacy, and administrative issues relating to your
        use of the Service, and that all agreements, notices, disclosures, and other communications that NeonNet provides to you electronically satisfy any legal requirements that such communications
        be in writing.
      </p>
      <p style="color: #9099a4;">
        You may use the Service to send messages to other users of the Service. You agree that your use of the Service will not include sending unsolicited marketing messages or broadcasts (i.e., spam).
         We may utilize a variety of means to block spammers and abusers from using the Service. If you believe spam originated from the Service, please contact an admin they can be spotted by an image on their tag that looks like <a  style="color: #06a4d5" href="../static/images/admin.png">this.</a>
      </p>

      <h2>YOUR CONTENT</h2>
      <p style="color: #9099a4;">Any data, text, graphics, photographs and their selection and arrangement, and any other materials uploaded to the Service by you is “Your Content.” You represent and warrant that Your
        Content is original to you and that you exclusively own the rights to such content, including the right to grant all of the rights and licenses in these Terms without the Company incurring
        any third party obligations or liability arising out of its exercise of such rights and licenses. All of Your Content is your sole responsibility and the Company is not responsible for any
        material that you upload, post, or otherwise make available. By uploading, distributing, transmitting or otherwise using Your Content with the Service, you grant to us a perpetual,
        nonexclusive, transferable, royalty-free, sublicensable, and worldwide license to use, host, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform,
        and display Your Content in connection with operating and providing the Service. The Company does not guarantee the accuracy, quality, or integrity of any user content posted. By using the
        Service, you acknowledge and accept that you may be exposed to material you find offensive or objectionable. You agree that the Company will not under any circumstances be liable for any user
        content, including, but not limited to, errors in any user content, or any loss or damage incurred by use of user content. The Company reserves the right to remove and permanently delete
        Your Content from the Service with or without notice for any reason or no reason. You may notify the Company of any user content that you believe violates these Terms, or other inappropriate
        user behavior, by contacting an admin, admins have a tag that looks like <a  style="color: #06a4d5" href="../static/images/admin.png">this.</a></p>

      <h2>RULES OF CONDUCT AND USAGE</h2>
      <p style="color: #9099a4;">The Service provides communication channels such as forums, communities, or chat areas ("Communication Channels") designed to enable you to communicate with other Service users.
        The Company has no obligation to monitor these communication channels but it may do so in connection with providing the Service. The Company may also terminate or suspend your access to any
        Communication Channels at any time, without notice, for any reason. You acknowledge that any user content (including without limitation chats, postings, or materials posted by users) on the
        Communication Channels is neither endorsed nor controlled by us. The Company will not under any circumstances be liable for any activity within Communication Channels. The Company is not
        responsible for information that you choose to share on the Communication Channels, or for the actions of other users. As a condition of your use of the Service, and without limiting your
        other obligations under these Terms, you agree to comply with the restrictions and rules of use set forth in these Terms and our Community Guidelines as well as any additional restrictions
        or rules (such as application-specific rules) set forth in the Service. As an example, you agree not to use the Service in order to:
      </p>
      <li style="color: #9099a4;">post, upload, transmit or otherwise disseminate information that is objectionable as outlined in our Community Guidelines;</li>
      <li style="color: #9099a4;">defame, libel, ridicule, mock, stalk, threaten, harass, intimidate or abuse anyone;</li>
      <li style="color: #9099a4;">engage in conduct that is fraudulent or illegal or otherwise harmful to NeonNet or any other user;</li>
      <li style="color: #9099a4;">upload or transmit (or attempt to upload or transmit) files that contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted files or data, or any other similar software or programs or engage in any other activity that may damage the operation of the Service or other users' computers;</li>
      <li style="color: #9099a4;">Violate the contractual, personal, intellectual property or other rights of any party including using, uploading, transmitting, distributing, or otherwise making available any information made available through the Service in any manner that infringes any copyright, trademark, patent, trade secret, or other right of any party (including rights of privacy or publicity);</li>
      <li style="color: #9099a4;">attempt to obtain passwords or other private information from other members;</li>
      <li style="color: #9099a4;">improperly complaint buttons to make false reports to us;</li>
      <li style="color: #9099a4;">Harass Staff members, both on the service and Personally</li>
      <p style="color: #9099a4;">These rules of use are not meant to be exhaustive, and we reserve the right to determine what conduct we consider to be a violation of the Terms,
        Community Guidelines or improper use of the Service and to take action including termination of your Account and exclusion from further participation in the Service.
      </p>
      <h2>FEEDBACK</h2>
      <p style="color: #9099a4;">We appreciate hearing from our users and welcome your comments regarding the Service. If you choose to provide feedback, comments or suggestions for improvements to the Service or otherwise
        (in written or oral form) (“Feedback”), you represent and warrant that (a) you have the right to disclose the Feedback, (b) the Feedback does not violate the rights of any other person or
        entity, and (c) your Feedback does not contain the confidential or proprietary information of any third party or parties.
      </p>
      <p style="color: #9099a4;">By sending us any Feedback, you further (i) agree that we are under no obligation of confidentiality, express or implied, with respect to the Feedback, (ii) acknowledge that we may have
        something similar to the Feedback already under consideration or in development, (iii) grant us an irrevocable, non-exclusive, royalty-free, perpetual, worldwide license to use, modify,
        prepare derivative works from, publish, distribute and sublicense the Feedback, and (iv) irrevocably waive, and cause to be waived, against NeonNet and its users any claims and assertions of
        any moral rights contained in such Feedback. This Feedback section shall survive any termination of your account or the Services.
      </p>
      <p style="color: #9099a4;">All rights in this section are granted without the need for additional compensation of any sort to you.</p>
      <h2>THIRD-PARTY CONTENT</h2>
      <p style="color: #9099a4;">We use third-party services to help us provide the Service, but such use does not indicate that we endorse them or are responsible or liable for their actions. In addition, the Service may
        link to third-party websites to facilitate its provision of services to you. If you use these links, you will leave the Service. Please note that your use of such third-party services will be
        governed by the terms and privacy policy applicable to the corresponding third party. Some of these third-party websites may use Service Materials under license from us. We are not
        responsible for nor do we endorse these third-party websites or the organizations sponsoring such third-party websites or their products or services, whether or not we are affiliated with such
        third-party websites. You agree that we are not responsible or liable for any loss or damage of any sort incurred as a result of any such dealings you may have on or through a third-party
        website or as a result of the presence of any third-party advertising on the Service.
      </p>
      <h2>TERMINATION</h2>
      <p style="color: #9099a4;">You may terminate your Account at any time and for any reason by deleting your account through the User Settings page in the application . The Company may terminate your Account and your
         access to the Service (or, at the Company's sole option, applicable portions of the Service) at any time and for any reason. The Company is not required to provide you with any notice or
         warning prior to any such termination. You may, as the result of termination, lose your Account and all information and data associated therewith, including without limitation your Virtual
         Currency and Virtual Goods, as applicable, and the Company is under no obligation to compensate you for any such loss.
       </p>

  </div>
</div>
<script type="text/javascript" src="/static/js/backgroundchanger.js"></script>
<script>
  var bgCookie = getCookie("background")
  changeBackgroundFunc(bgCookie)
</script>
</body>
{% endblock %}
