{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <div class="mainusers">
    <body>

        <!-- Upload form. Note enctype attribute! -->
        <center>
          <h4 style="font-family: metroregular; color: #555;">Upload a Profile Picture</h4>
          <div class="circular--portrait">
          <img id="ProfileBox" src="../{{ user.docfile }}" onerror="this.onerror=null;this.src='../static/users/default.gif';"/>
            </div>
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

                {{ form.docfile.errors }}
                <div class="input-group mb-3">
                  <div class="custom-file">
                    {{ form.docfile }}
                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <button type="submit" value="Upload" class="input-group-text" id="inputGroupFileAddon02">Upload</button>
                  </div>
                </div>
                <button type="button" onclick="window.location.href='../'" style="position: absolute; margin-left: 55px; bottom: 20px; width: 80%;" class="btn btn-secondary btn-lg btn-block">Go Back</button>
                </div>

            <p></p>
        </form>
        </center>
    </body>
    </div>
</html>

{% endblock %}
