body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#div_id_email {
  display: none;
}

.para {
  text-align: center;
  font-family: 'Segoe UI';
  font-weight: lighter;
}

.logoimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

loginbox {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.mein {
  text-align: center;
  font-family: 'Segoe UI';
  font-weight: lighter;
}

.inputbox {
  padding: 0;
  height: 30px;
  position: center;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
}

center {
  text-align: center;
  font-family: 'Montserrat-Medium', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #555;
  src: url('http://127.0.0.1:8000/static/Montserrat-Medium.ttf')  format("truetype"),
     local('Montserrat-Medium');
}

.mains {
  border-radius: 10px;
  position: center;
  left: 0;
  width: 320px;
	height: 500px;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff
}

.mainusers {
  border-radius: 10px;
  position: center;
  left: 0;
  width: 640px;
	height: 500px;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff
}

.wrapper {
	text-align: center;
}

.logout {
	border-radius: 10px;
	background-color: #555;
	height: 30px;
	border-color: rgba(0, 0, 0, 0.15);
	font-size: 16px;
	color: #fff;
	font-family: Arial;
}

.login {
  border-radius: 10px;
	background-color: #555;
	height: 30px;
	border-color: rgba(0, 0, 0, 0.15);
	font-size: 16px;
	color: #fff;
	font-family: Arial;
}

.circular--portrait {
  position: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
	margin: 0 auto;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.signup {
	margin: 0 auto;
}

.InvCode {
  background-color: #fff
}

.warningbox {
	border-radius: 10px;
	position: center;
	left: 0;
	width: 300px;
	height: 75px;
	padding: 10px;
	margin: 0 auto;
	background-color: #555;
	font-family: Arial;
}

.adminbutton {
	background-color: #555;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin-top: 10px;
	margin-left: 10px;
	border-color: rgba(0, 0, 0, 0.15);
	color: #fff;
	font-weight: lighter;
	font-size: 50px;
	font-family: Arial;
}
